header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 64px;
  background: #4a90e2;
}

header h1 {
  color: #ffffff;
  margin: 15px 42px;
}

header a {
  font-size: 10px;
  text-decoration: none;
}
